*.*~
*~
*.log
*.gz
*.swp
.DS_Store
doc/release-notes/output/.buildinfo
doc/release-notes/output/contrail-release-notes-5.0.1-title.html
doc/release-notes/output/deprecated-items.html
doc/release-notes/output/genindex.html
doc/release-notes/output/index.html
doc/release-notes/output/introduction.html
doc/release-notes/output/known-behavior.html
doc/release-notes/output/new-and-changed-features.html
doc/release-notes/output/objects.inv
doc/release-notes/output/request-support.html
doc/release-notes/output/resolved-issues.html
doc/release-notes/output/search.html
doc/release-notes/output/searchindex.js
doc/release-notes/output/supported-platforms-50-vnc.html
doc/release-notes/output/.doctrees/contrail-release-notes-5.0.1-title.doctree
doc/release-notes/output/.doctrees/deprecated-items.doctree
doc/release-notes/output/.doctrees/environment.pickle
doc/release-notes/output/.doctrees/index.doctree
doc/release-notes/output/.doctrees/introduction.doctree
doc/release-notes/output/.doctrees/known-behavior.doctree
doc/release-notes/output/.doctrees/new-and-changed-features.doctree
doc/release-notes/output/.doctrees/request-support.doctree
doc/release-notes/output/.doctrees/resolved-issues.doctree
doc/release-notes/output/.doctrees/supported-platforms-50-vnc.doctree
doc/release-notes/output/_images/s043711.png
doc/release-notes/output/_images/s043712.png
doc/release-notes/output/_sources/contrail-release-notes-5.0.1-title.rst.txt
doc/release-notes/output/_sources/deprecated-items.rst.txt
doc/release-notes/output/_sources/index.rst.txt
doc/release-notes/output/_sources/introduction.rst.txt
doc/release-notes/output/_sources/known-behavior.rst.txt
doc/release-notes/output/_sources/new-and-changed-features.rst.txt
doc/release-notes/output/_sources/request-support.rst.txt
doc/release-notes/output/_sources/resolved-issues.rst.txt
doc/release-notes/output/_sources/supported-platforms-50-vnc.rst.txt
doc/release-notes/output/_static/alabaster.css
doc/release-notes/output/_static/basic.css
doc/release-notes/output/_static/custom.css
doc/release-notes/output/_static/doctools.js
doc/release-notes/output/_static/documentation_options.js
doc/release-notes/output/_static/file.png
doc/release-notes/output/_static/jquery-3.5.1.js
doc/release-notes/output/_static/jquery.js
doc/release-notes/output/_static/language_data.js
doc/release-notes/output/_static/minus.png
doc/release-notes/output/_static/plus.png
doc/release-notes/output/_static/pygments.css
doc/release-notes/output/_static/searchtools.js
doc/release-notes/output/_static/underscore-1.3.1.js
doc/release-notes/output/_static/underscore.js
